{{#each ideas}}
    <div class="mb-2 card card-body mt-2">
        <h3>{{title}}</h3>
        <h5>{{details}}</h5>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit Idea</a>
        <form action="/ideas/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
    </div>
{{else}}
    <h5>No Video Ideas</h5>
{{/each}}